<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png"
        alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
<div class="container">
  <div class="content">
    <section>
      <h1>{{title | titlecase}}</h1>
      <p>{{subtitle}}</p>
      <br>
    </section>
    <section>
      <div class="file">
        <label class="file-label">
          <input class="file-input" #csvReader type="file" name="Upload CSV" (change)="uploadListener($event)"
            accept=".csv">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
        </label>
      </div>
      <br>
    </section>
    <section *ngIf="file">
      <h3><strong>Detalle del archivo.</strong></h3>
      <p><strong>Name:</strong> {{file.name}}</p>
      <p><strong>Size:</strong> {{file.size}}</p>
      <p><strong>Last Modified:</strong> {{file.lastModified}}</p>
      <p><strong>Last Modified Date:</strong> {{file.lastModifiedDate}}</p>
      <br>
    </section>
    <section>
      <strong>Resultados del archivo.</strong>
      <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>{{demographicSocioHeader.date}}</th>
              <th>{{demographicSocioHeader.fullName}}</th>
              <th>{{demographicSocioHeader.age}}</th>
              <th>{{demographicSocioHeader.gender}}</th>
              <th>{{demographicSocioHeader.ci}}</th>
              <th>{{demographicSocioHeader.occupation}}</th>
              <th>{{demographicSocioHeader.study}}</th>
              <th>{{demographicSocioHeader.maritalStatus}}</th>
              <th>{{demographicSocioHeader.economy}}</th>
              <th>{{demographicSocioHeader.numberOfChildren}}</th>
              <th>{{demographicSocioHeader.question01}}</th>
              <th>{{demographicSocioHeader.question02}}</th>
              <th>{{demographicSocioHeader.question03}}</th>
              <th>{{demographicSocioHeader.points}}</th>
              <th>{{demographicSocioHeader.anxiety}}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let ficha of fichas">
              <td>{{ficha.date}}</td>
              <td>{{ficha.fullName}}</td>
              <td>{{ficha.age}}</td>
              <td>{{ficha.gender}}</td>
              <td>{{ficha.ci}}</td>
              <td>{{ficha.occupation}}</td>
              <td>{{ficha.study}}</td>
              <td>{{ficha.maritalStatus}}</td>
              <td>{{ficha.economy }}</td>
              <td>{{ficha.numberOfChildren}}</td>
              <td>{{ficha.question01}}</td>
              <td>{{ficha.question02}}</td>
              <td>{{ficha.question03}}</td>
              <td>{{ficha.points}}</td>
              <td>{{ficha.points|calculateAnxiety}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
    </section>
    <section>
      <strong>Resultados del archivo.</strong>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Padres</th>
            <th>Bajo</th>
            <th>Medio</th>
            <th>Alto</th>
          </tr>
        </thead>
        <tbody>
          <!-- data -->
        </tbody>
      </table>
    </section>
  </div>
</div>