<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Import CSV - UI</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="content">
    <section>
      <h1>{{title | titlecase}}</h1>
      <p>{{subtitle}}</p>
      <br>
    </section>
    <section>
      <div class="file">
        <label class="file-label">
          <input class="file-input" #csvReader type="file" name="Upload CSV" (change)="uploadListener($event)"
            accept=".csv">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
        </label>
      </div>
      <br>
    </section>
    <section *ngIf="file">
      <h3><strong>Detalle del archivo.</strong></h3>
      <p><strong>Name:</strong> {{file.name}}</p>
      <p><strong>Size:</strong> {{file.size}}</p>
      <p><strong>Last Modified:</strong> {{file.lastModified}}</p>
      <p><strong>Last Modified Date:</strong> {{file.lastModifiedDate}}</p>
      <br>
    </section>
    <section>
      <strong>Resultados del archivo.</strong>
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> fullName </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
          </ng-container>

          <ng-container matColumnDef="ci">
            <th mat-header-cell *matHeaderCellDef> ci </th>
            <td mat-cell *matCellDef="let element"> {{element.ci}} </td>
          </ng-container>

          <ng-container matColumnDef="occupation">
            <th mat-header-cell *matHeaderCellDef> occupation </th>
            <td mat-cell *matCellDef="let element"> {{element.occupation}} </td>
          </ng-container>
          
          <ng-container matColumnDef="study">
            <th mat-header-cell *matHeaderCellDef> study </th>
            <td mat-cell *matCellDef="let element"> {{element.study}} </td>
          </ng-container>

          <ng-container matColumnDef="maritalStatus">
            <th mat-header-cell *matHeaderCellDef> maritalStatus </th>
            <td mat-cell *matCellDef="let element"> {{element.maritalStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="economy">
            <th mat-header-cell *matHeaderCellDef> economy </th>
            <td mat-cell *matCellDef="let element"> {{element.economy}} </td>
          </ng-container>

          <ng-container matColumnDef="numberOfChildren">
            <th mat-header-cell *matHeaderCellDef> numberOfChildren </th>
            <td mat-cell *matCellDef="let element"> {{element.numberOfChildren}} </td>
          </ng-container>

          <ng-container matColumnDef="question01">
            <th mat-header-cell *matHeaderCellDef> question01 </th>
            <td mat-cell *matCellDef="let element"> {{element.question01}} </td>
          </ng-container>

          <ng-container matColumnDef="question02">
            <th mat-header-cell *matHeaderCellDef> question02 </th>
            <td mat-cell *matCellDef="let element"> {{element.question02}} </td>
          </ng-container>

          <ng-container matColumnDef="question03">
            <th mat-header-cell *matHeaderCellDef> question03 </th>
            <td mat-cell *matCellDef="let element"> {{element.question03}} </td>
          </ng-container>

          <ng-container matColumnDef="question04">
            <th mat-header-cell *matHeaderCellDef> question04 </th>
            <td mat-cell *matCellDef="let element"> {{element.question04}} </td>
          </ng-container>

          <ng-container matColumnDef="question05">
            <th mat-header-cell *matHeaderCellDef> question05 </th>
            <td mat-cell *matCellDef="let element"> {{element.question05}} </td>
          </ng-container>

          <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> points </th>
            <td mat-cell *matCellDef="let element"> {{element.points}} </td>
          </ng-container>

          <ng-container matColumnDef="anxiety">
            <th mat-header-cell *matHeaderCellDef> anxiety </th>
            <td mat-cell *matCellDef="let element"> {{element.points|calculateAnxiety}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <br>
    </section>
  </div>
</div>